 <div class="bg-blue-gradient">
       <div class="container">
           <partial name="_HeaderPartial"/>
           <partial name="_ShowcasePartial"/> 
      
           <partial name="_Showcase2Partial"/>
           <partial name="_Showcase3Partial"/>
           <partial name="_Showcase4Partial"/>
       </div>
 </div>
 