 <!-- Cards -->
  <section id="contact-form" >
      <div class="left">
        <p>Get In Touch</p> <img class="contact-form-line" src="images/line.svg"  alt="">
        <h1>Estimate for your
            projects.</h1>
            
            <div class="contact-form">

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name">
                    <label for="floatingNamet">Enter your name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingEmail">Enter your email</label>
                  </div>
                  <div class="form-floating">
                    <input id="textboxid1"  type="password" class="form-control" id="floatingPassword" placeholder="message">
                    <label for="floatingPassword">Enter your message</label>
                  </div>
                  <a href="#" class="btn btn-main">Submit Now</a>


            </div>
      </div>
      <div class="right">
        <img class="image1" src="images/Kvadrat.svg"  alt="">
        <img class="image2" src="images/stortrekant.svg"alt="">
    </div>

</section>