  <!-- Footer -->
          <section id="footer">
           <div class="container">
              <div class="column ">
                    <div class="left">
                      <h1>OmniVus.</h1>
                          <p>The web has changed a lot since we posted our <br> first article back in 2007. The team at Mattin-<br>
                            Lassi Group has changed too, as have the <br>
                            things that we bring to our community <br>
                            conferences, books, and our membership<br>
                            added to the online magazine. 
                          </p>
                        <p>
                        One thing that hasn’t changed is that we’re a<br>
                        small team — with most of us not working</p>

                        <img class="Footer-image3"  src="images/Storblåcirkel.svg" alt="">
                    </div>
           
                <div class="right">
                    <h1>Working Hours</h1>
                        <span>Monday - Friday: 7:00 - 17:00 <br>
                          Saturday: 7:00 - 12:00<br>
                          Sunday and holidays: 8:00 - 10:00</span>
                            <p>For more then 15 years, IT Service has been a <br>
                              reliable partner in the field of logistics and cargo forwarding.
                            </p>
                <img class="Footer-image1"  src="images/cirkel4.svg" alt="">
                <img class="Footer-image2"  src="images/cirkel5.svg" alt="">
                  </div> 
                  
              </div>
     
                      <div class="tag ">
                            <p>
                              Copyright © Mattin-Lassei Group AB - 2022
                            </p>
                    </div>
             </div> 
             
         </section> 