<!-- Cards -->
  <section id="cards" class="container">
   

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="images/nykvadrat.svg" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">UI/UX Design</h5>
          
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" >
            <img src="images/nykvadrat.svg" iD="Card-Uniq" height="250px" class="card-img-top" alt="...">
            <div class="card-body-uniq">
              <h5 class="card-title">IT Consultancy</h5>
              <p class="card-text">The functional goal of technical content is to help people use a product successfully. The business goal must tie the content..</p>
   
             
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/nykvadrat.svg" class="card-img-top"  alt="...">
            <div class="card-body">
              <h5 class="card-title">Technology Prof.</h5>
            
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/nykvadrat.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="images/nykvadrat.svg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">App Development</h5>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/nykvadrat.svg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Game Design</h5>
                
              </div>
            </div>
          </div>

       

      </div>
 
 <img class="services-image2" src="images/Kvadrat2.svg">
 <img class="services-image3" src="images/Kvadrat2.svg"alt="">
 <img class="services-image4" src="images/Kvadrat2.svg"alt="">
 <img class="services-image5" src="images/Kvadrat2.svg"alt="">
 <img class="services-image6" src="images/Kvadrat2.svg"alt="">
 <img class="services-image7" src="images/Kvadrat2.svg"alt="">
</section>