<!-- showcase3 -->
    <section id="showcase3"> <div class="container">
      <div class="column ">
          
        <div class="left">
          <span>Intro</span> <img class="showcase3-line" src="images/line.svg"  alt="">
            <h1>How we growth <br>
              our business.</h1>
                <h2>
                  The introduction of cloud and mobile technologies into enterprise software.
                </h2>
                    <p>hether you are building an enterprise web portal or a state-of-the-art 
                      website, you always need the right modern tools. Well-built and maintained 
                      .NET frameworks provide those tools in abundance, allowing maintained 
                      .NET frameworks provide those tools in abundance, allowing developers to save 
                      time, re-use code, and streamline the back end. As software development tools continuously.
                    </p>
                   
                   
                      <a href="#" class="btn btn-main">Learn More</a>
                      
          </div> 
          <div class="right">
            <img class="showcase3-image1" src="images/Kvadrat.svg"  alt="">
            <img class="showcase3-image2" src="images/stortrekant.svg"alt="">
          </div> 
  </div>
  </div>
    </section>