<!-- showcase4 -->
    <section id="showcase4">
      <div class="container ">
        <div class="column ">

          <h1>Book a Meeting</h1>
              
                  <p>Does any industry face a more complex audience journey and 
                    marketing sales process than B2B technology.
                  </p>
                  <div id="form" >
                  <div class="form ">
                    <div class="row g-4">
                      <div class="col-md">
                    <div class="form-floating">
                    <input type="name" class="form-control"placeholder="name@example.com" value="Enter your name">
                  </div> 
                </div> 
              
                
                    <div class="col-md">
                  <div class="form-floating">
                    <input type="email" class="form-control"placeholder="name@example.com" value="Enter your email">
                  </div>
                </div> 
                <div class="mb-3">
                  
                  <input class="form-control " id="textboxid"  rows="8" value="Enter your questions & subject here">
                  </div>
                </div>
              </div> 
              <a href="#" class="btn btn-main">Book a Meeting Now</a>
                  </div>
        </div>
      </div>
    </section>
