 <!-- showcase2 -->
    <section id="showcase2">
      <div class="container">
        <div class="column ">
              <div class="left">
                <img class="showcase2-image1" src="images/Rektangel.svg"  alt="">
                <img class="showcase2-image2" src="images/Triangel.svg"  alt="">
              </div> 
     
          <div class="right">
            <span>About Us</span> <img class="showcase2-line" src="images/line.svg"  alt="">
              <h1>You can't use up 
                creativity.</h1>
                  
                      <p>Does any industry face a more complex audience 
                        journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, 
                        the length of the decision-making cycle, the competing interests of the people who purchase, implement,
                         manage, and use the technology. It’s a lot meaningful content here.
                      </p>
                      <div class="text">
                        <img class="showcase2-image3" src="images/litentrekant.svg"  alt="">
                        <img class="showcase2-image4" src="images/litentrekant.svg"  alt="">
                      <h2>15</h2> <h3>Years Of<br>
                        Experience</h3> </div>
                        <a href="#" class="btn btn-main">Learn More</a>
                        <a href="#" class="btn btn-second">video Intro Video</a>
            </div> 
    </div>
    </div>
    </section>