   <!-- showcase -->
            <section id="showcase">
                <div class="column">
                    <div class="content">
                        <p>Promote any product, service or online course.</p>
                        <h1>Get every it Services Here</h1>
                        <div class="items">
                            <div class="item">
                                <img src="images/Rödring.svg" alt="">
                                <span>IT Product</span>
                            </div>
                            <div class="item">
                                <img src="images/Blåring.svg" alt="">
                                <span>IT Services</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <img class="showcase-image" src="images/Gubbe.svg" alt="">
                    <img class="showcase-image1" src="images/Cirkel1.svg" alt="">
                    <img class="showcase-image2" src="images/Cirkel2.svg" alt="">
                    <img class="showcase-image3" src="images/cirkel3.svg" alt="">
                </div>
                <img class="showcase-image4" src="images/Kvadratvriden.svg" alt="">
            </div>
           </div>
            </section>