
<div class="bg-blue-gradient">
       <div class="container">
           <partial name="_HeaderPartial"/>
        </div>
           <partial name="_ContactPartial"/>
       </div>

      
        <partial name="_ContactsCardsPartial"/>